%p
  Hi
%p
  This email comes to you from
%i
  #{`hostname`}
%p
  You received a message via a mailer service that said:
%p
  %b
    Subject: #{@payload.fields['subject']}
%hr
  %p
    Body (text)
%hr
  %p
    = @payload.fields['body']

%hr
  %p
    Body (html)
%hr
  %p
    = @payload.fields['html_body']

