= form_tag analyses_execute_task_path do
  .paragraph
    = submit_tag "Compute Document Universe"
  .paragraph
    = submit_tag "Update Profile Stats"
  .paragraph
    = submit_tag "Re-bio All Handles"
