body {
 height: auto;
 width: 100%;
 font-family: 'Cabin', sans-serif;
 font-size: 18px;
}

.top {
  margin-top: 10px;
  border-top: solid 2px #CCC;
}

.flash-box {
  padding: 10px 5px;
  min-height: 40px;

  background-color: lightred;
  color: black;

  display: inline-block;
  margin: auto;
}

.original-link {
  margin-bottom: 20px;
  a {
    color: blue;
  }
}

.next-link {
  font-size: 1.5em;
  color: #EE2222;

  margin: 1em 0px 2em 0px;
}

input#token-input-tags-list {
  margin-bottom: 10px;
}

.paragraph {
  margin-bottom: 10px;
}

.tagbox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
  float: right;
  width: 200px;
  margin-top: 10px;
}

.token-input-dropdown ul, ul.token-input-list {
  list-style: none;
}

.inline-block, ul.token-input-list {
  display: inline-block;
}

.token-input-dropdown { 
  background-color: peachpuff;
  padding: 5px;
  opacity: 0.8;
  
  ul {
    li {
      cursor: pointer;
    }
    li.token-input-selected-dropdown-item {
      color: red;
    }
  }
}

.token-input-delete-token {
    cursor: pointer;
}

.form-element-row {
  margin-bottom: 10px;
}
