.readability-wrapper {
	p {
		margin-bottom: 0.75em;
		line-height: 1.2em;
	}
	.parasectionhed {
		font-size: 2em;
		font-weight: bold;
		margin-bottom: 0.75em;
	}

	.image, .image-with-copyright {
		display: block;
		height: auto;

		float: left; 
		margin-right: 20px;
		@media (max-width: 350px) {
			display: none;
		}
	}

	h6 {
		margin-bottom: 20px;
	}
}