h3 {
  margin: 5px 0px;
}

@mixin box-common() {
  border-radius: 3px;
  border: solid 1px;
}

.twitter-box {
  @include box-common();
  border-color: blue;
  padding: 10px;
  margin-bottom: 5px;
}

.twitter-biobox {
  @include box-common();
  border-color: black;
  padding: 2px;
  float: left;
  margin-top: 2px;
  margin-right: 20px;
  &.handlebox {
    padding: 5px;
    background-color: rgb(69, 153, 241);
    a {
      color: black;
    }
  }
}

.twitter-wcbox {
  @include box-common();
  padding: 2px;
  margin-top: 2px;
  margin-right: 20px;
  float: left;
}

.selection-box {
  float: left;
  margin-right: 10px;
  border: solid 1px black;
  background: lightgrey;
  border-radius: 3px;
  cursor: pointer;

  &.sort-target {
    background-color: lightgreen;
  }
}
.databox {
  display: none;
}

.profile-list {
  display: block;
  border-top: solid 2px black;

  .handle-details {
    margin-bottom: 5px;
  }
}

